
#row {
  background-image: url("../images/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  text-align: center;
  padding-top: 60px
}

.h1{
  color: white;
  font-family: cursive;
  text-align: center;
}

.h2 {
  color: white;
  font-family: cursive;
  text-align: center;
}

.p2 {
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  color: white;
}

.padding {
  background-image: url("../images/foodtop/breakfast.jpg");
}

.pa {
  background-color: #BDC3C7;
  padding-left: 49px;
  padding-right: 75px;
  padding-top: 32px;
  padding-bottom: 28px;
  text-align: center;
  color: white;
}

  .pb {
    background-color: #E74C3C;
    padding-left: 49px;
    padding-right: 75px;
    padding-top: 32px;
    padding-bottom: 28px;
    text-align: center;
    color: white;
  }

  .pad2{
    padding-right: 150px
  }

  .pad2{
    padding-right: 290px;
  }

  .pad7{
    padding-left: 250px;
  }

  .pad3{
    padding-right: 305px;
  }

  .p3{
    text-align: right;
  }

  .r1{
    background-image: url("../images/backgrounds/foodsBg.jpg");
    background-image: fill;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 75px;
    padding-bottom: 75px;
  }


  /* Meals Section */

  .meals{
    background-image: url("images/backgrounds/foodsBg.jpg");
    padding: 6%;
  }

  .container.meals-list{
    width:77vw;
    background-color:#fff;
  }

  .meals-title {
    background-color: #ddd;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 3%
    text-align: center;
  }

  .meal-title{
    padding: 2%;
    border-left: 1px solid #ccc;
  }

  .meal-fast-food{
    background-color: #fff;
  }

  .meals-images{
    padding-left: 6%;
    padding-bottom: 1.5%;
    padding-right: 5%;
  }

  .meal-image-text{
    color:#F15A29;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding-top: 4%;
  }

  /*SUBSCRIPTION SECTION */
  .subscription{
    background-image: url(../images/backgrounds/subscribe.jpg);
    padding: 3%;
    padding-bottom: 5%;
  }

  .subscription-section{
    width: 70%;
    margin-left: 25%;
  }

  .subscription-title{
    color: #bbb;
    padding-bottom:1%;
    font-weight: 700;
  }

  .subscription-button{
    height: 45px;
    width: 35%;
    background-color: #F15A29;
    border:none;
    color:#fff
  }

  .input-group.input-group-lg{
    width: 100%
  }

  /* FOOTER SECTION */
  .footer{
    background-color: #F15A29;
  }

  .footer-content{
    padding-top:4%
    color: #fff;
    font-size: 2rem;
    text-align: center;
  }

  .social-icons img{
    padding: 9px;
  }

  p.footer-title {
    font-size: 40px;
      }

.copyright{
  padding-top: 3%;
  font-size: 1.3rem;
  padding-bottom: 1%;
}
